# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android and iOS build artifacts
/android/app/debug
/android/app/profile
/android/app/release
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# Symbolication and obfuscation
*.symbols
*.map
*.map.json

# Local environment
.env
.local.properties
